In [1]:
import pandas as pd
import numpy as np

In [160]:
df = pd.read_csv('/Users/aybikeulusan/Wayfair/fraud_dataset.csv', index_col=False)

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (10,41,49,51,53,54,55,57,58,61,62,85,86,87) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [99]:
df.head()

,Unnamed: 0,Unnamed: 0.1,order_id,is_fraud,age_of_account,percent_of_billing_name_in_email,percent_of_shipping_names_in_email,is_disposable_email,is_real_email,email_username_length,...,customers_with_same_ip_past_week,customers_with_same_ip_past_month,customers_with_same_ip_past_six_months,number_of_addresses_on_account,number_of_addresses_with_same_zip,currency,cvv_code,avs_code,ship_speed,ship_class
0,0,167,"1,385,928,871",1,"113,438,015",0,0.0,0,1,8.0,...,1,1,1,NaN,NaN,us_dollars,NaN,Y,NaN,"freight truck,"
1,1,482,"1,427,651,263",1,"70,225,782",0,0.0,0,1,10.0,...,1,9,56,NaN,NaN,us_dollars,M,Y,NaN,"small parcel,"
2,2,542,"1,433,103,753",1,"61,712,171",0,0.0,0,1,9.0,...,1,2,8,NaN,NaN,us_dollars,M,N,NaN,"small parcel,"
3,3,1697,"1,634,792,851",1,"210,555,308",0,0.0,0,1,10.0,...,1,1,1,NaN,NaN,us_dollars,M,Y,"next day air,","small parcel,"
4,4,3705,"1,693,089,701",1,"78,225,420",0,0.0,0,1,10.0,...,1,1,1,NaN,NaN,us_dollars,NaN,NaN,NaN,"white glove,"

In [26]:
df.describe()

,is_fraud,percent_of_billing_name_in_email,percent_of_shipping_names_in_email,is_disposable_email,is_real_email,email_username_length,item_count,is_ip_blacklisted,is_email_blacklisted,is_email_domain_blacklisted,...,shipping_names_count_past_month,ip_location_not_found.1,ip_location_hidden,billing_location_not_found.1,billing_location_hidden,shipping_location_not_found_ratio,shipping_location_hidden_ratio,customers_with_same_ip_past_hour,number_of_addresses_on_account,number_of_addresses_with_same_zip
count,100000.000000,100000.000000,100000.000000,100000.0000,100000.000000,99996.000000,100000.000000,100000.000000,100000.000000,100000.000000,...,100000.000000,3473.0,3473.000000,3473.000000,3473.0,3473.000000,3473.0,100000.000000,0.0,0.0
mean,0.050000,38.379000,38.739543,0.0001,0.965810,10.137065,1.624750,0.041810,0.049840,0.003570,...,1.011920,0.0,0.000288,0.038295,0.0,0.038367,0.0,3.404750,NaN,NaN
std,0.217946,48.631019,48.700737,0.0100,0.181718,3.034866,1.478709,0.200156,0.217615,0.059643,...,0.743454,0.0,0.016969,0.191936,0.0,0.191969,0.0,23.839589,NaN,NaN
min,0.000000,0.000000,0.000000,0.0000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,1.000000,NaN,NaN
25%,0.000000,0.000000,0.000000,0.0000,1.000000,8.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,1.000000,NaN,NaN
50%,0.000000,0.000000,0.000000,0.0000,1.000000,10.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,1.000000,NaN,NaN
75%,0.000000,100.000000,100.000000,0.0000,1.000000,12.000000,2.000000,0.000000,0.000000,0.000000,...,1.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,1.000000,NaN,NaN
max,1.000000,100.000000,100.000000,1.0000,1.000000,31.000000,42.000000,1.000000,1.000000,1.000000,...,202.000000,0.0,1.000000,1.000000,0.0,1.000000,0.0,414.000000,NaN,NaN

In [20]:
df.shape

(100000, 106)

In [22]:
df = df.iloc[:,2:]

In [23]:
df.head()

,order_id,is_fraud,age_of_account,percent_of_billing_name_in_email,percent_of_shipping_names_in_email,is_disposable_email,is_real_email,email_username_length,total_orders,item_count,...,customers_with_same_ip_past_week,customers_with_same_ip_past_month,customers_with_same_ip_past_six_months,number_of_addresses_on_account,number_of_addresses_with_same_zip,currency,cvv_code,avs_code,ship_speed,ship_class
0,"1,385,928,871",1,"113,438,015",0,0.0,0,1,8.0,6,4,...,1,1,1,NaN,NaN,us_dollars,NaN,Y,NaN,"freight truck,"
1,"1,427,651,263",1,"70,225,782",0,0.0,0,1,10.0,3,1,...,1,9,56,NaN,NaN,us_dollars,M,Y,NaN,"small parcel,"
2,"1,433,103,753",1,"61,712,171",0,0.0,0,1,9.0,10,1,...,1,2,8,NaN,NaN,us_dollars,M,N,NaN,"small parcel,"
3,"1,634,792,851",1,"210,555,308",0,0.0,0,1,10.0,2,1,...,1,1,1,NaN,NaN,us_dollars,M,Y,"next day air,","small parcel,"
4,"1,693,089,701",1,"78,225,420",0,0.0,0,1,10.0,3,1,...,1,1,1,NaN,NaN,us_dollars,NaN,NaN,NaN,"white glove,"

In [27]:
df['sum_email'] = df['is_disposable_email'] + df['is_real_email']

In [32]:
df.query('sum_email != 1')

,order_id,is_fraud,age_of_account,percent_of_billing_name_in_email,percent_of_shipping_names_in_email,is_disposable_email,is_real_email,email_username_length,total_orders,item_count,...,customers_with_same_ip_past_month,customers_with_same_ip_past_six_months,number_of_addresses_on_account,number_of_addresses_with_same_zip,currency,cvv_code,avs_code,ship_speed,ship_class,sum_email
8,"1,430,312,771",1,"103,352,770",0,0.0,0,0,9.0,1,1,...,1,1,NaN,NaN,us_dollars,M,Y,NaN,"small parcel,",0
11,"2,450,828,561",1,NaN,0,0.0,0,0,12.0,14,1,...,1,1,NaN,NaN,us_dollars,N,N,NaN,"small parcel,",0
35,"2,450,828,481",1,NaN,0,0.0,0,0,12.0,14,1,...,1,1,NaN,NaN,us_dollars,N,N,NaN,"small parcel,",0
39,"1,722,653,172",1,"57,050,722",0,0.0,0,0,12.0,4,1,...,1,2,NaN,NaN,us_dollars,NaN,P,NaN,"small parcel,",0
41,"1,758,512,101",1,"204,915,472",0,0.0,0,0,11.0,1,1,...,1,1,NaN,NaN,us_dollars,M,A,"next day air,","small parcel,",0
42,"1,763,468,751",1,"74,130,906",0,0.0,0,0,8.0,4,1,...,1,1,NaN,NaN,us_dollars,M,S,NaN,"small parcel,",0
50,"1,759,743,012",1,"65,857,980",0,0.0,0,0,11.0,2,1,...,1,5,NaN,NaN,us_dollars,NaN,Y,NaN,"small parcel,",0
98,"2,456,084,931",1,259,0,0.0,0,0,18.0,1,2,...,1,1,NaN,NaN,us_dollars,NaN,NaN,"email delivery,","small parcel,",0
105,"1,824,744,441",1,"72,300,272",0,0.0,0,0,8.0,5,3,...,1,1,NaN,NaN,us_dollars,NaN,Y,"inside home entrance drop off,","small parcel,white glove,",0
106,"1,833,660,731",1,"125,963,083",100,100.0,0,0,12.0,6,1,...,4,6,NaN,NaN,us_dollars,NaN,NaN,"next day air,","small parcel,",0
116,"2,450,826,851",1,NaN,0,0.0,0,0,12.0,14,1,...,1,1,NaN,NaN,us_dollars,N,Y,NaN,"small parcel,",0
137,"2,450,835,651",1,NaN,0,0.0,0,0,12.0,14,1,...,1,1,NaN,NaN,us_dollars,N,N,NaN,"small parcel,",0
148,"1,430,312,771",1,"103,352,770",0,0.0,0,0,9.0,1,1,...,1,1,NaN,NaN,us_dollars,M,Y,NaN,"small parcel,",0
151,"2,450,828,561",1,NaN,0,0.0,0,0,12.0,14,1,...,1,1,NaN,NaN,us_dollars,N,N,NaN,"small parcel,",0
175,"2,450,828,481",1,NaN,0,0.0,0,0,12.0,14,1,...,1,1,NaN,NaN,us_dollars,N,N,NaN,"small parcel,",0
179,"1,722,653,172",1,"57,050,722",0,0.0,0,0,12.0,4,1,...,1,2,NaN,NaN,us_dollars,NaN,P,NaN,"small parcel,",0
181,"1,758,512,101",1,"204,915,472",0,0.0,0,0,11.0,1,1,...,1,1,NaN,NaN,us_dollars,M,A,"next day air,","small parcel,",0
182,"1,763,468,751",1,"74,130,906",0,0.0,0,0,8.0,4,1,...,1,1,NaN,NaN,us_dollars,M,S,NaN,"small parcel,",0
190,"1,759,743,012",1,"65,857,980",0,0.0,0,0,11.0,2,1,...,1,5,NaN,NaN,us_dollars,NaN,Y,NaN,"small parcel,",0
238,"2,456,084,931",1,259,0,0.0,0,0,18.0,1,2,...,1,1,NaN,NaN,us_dollars,NaN,NaN,"email delivery,","small parcel,",0
245,"1,824,744,441",1,"72,300,272",0,0.0,0,0,8.0,5,3,...,1,1,NaN,NaN,us_dollars,NaN,Y,"inside home entrance drop off,","small parcel,white glove,",0
246,"1,833,660,731",1,"125,963,083",100,100.0,0,0,12.0,6,1,...,4,6,NaN,NaN,us_dollars,NaN,NaN,"next day air,","small parcel,",0
256,"2,450,826,851",1,NaN,0,0.0,0,0,12.0,14,1,...,1,1,NaN,NaN,us_dollars,N,Y,NaN,"small parcel,",0
277,"2,450,835,651",1,NaN,0,0.0,0,0,12.0,14,1,...,1,1,NaN,NaN,us_dollars,N,N,NaN,"small parcel,",0
288,"1,430,312,771",1,"103,352,770",0,0.0,0,0,9.0,1,1,...,1,1,NaN,NaN,us_dollars,M,Y,NaN,"small parcel,",0
291,"2,450,828,561",1,NaN,0,0.0,0,0,12.0,14,1,...,1,1,NaN,NaN,us_dollars,N,N,NaN,"small parcel,",0
315,"2,450,828,481",1,NaN,0,0.0,0,0,12.0,14,1,...,1,1,NaN,NaN,us_dollars,N,N,NaN,"small parcel,",0
319,"1,722,653,172",1,"57,050,722",0,0.0,0,0,12.0,4,1,...,1,2,NaN,NaN,us_dollars,NaN,P,NaN,"small parcel,",0
321,"1,758,512,101",1,"204,915,472",0,0.0,0,0,11.0,1,1,...,1,1,NaN,NaN,us_dollars,M,A,"next day air,","small parcel,",0
322,"1,763,468,751",1,"74,130,906",0,0.0,0,0,8.0,4,1,...,1,1,NaN,NaN,us_dollars,M,S,NaN,"small parcel,",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98844,"1,689,764,072",0,"101,512,563",0,100.0,0,0,7.0,2,1,...,1,3,NaN,NaN,us_dollars,M,Y,NaN,"small parcel,",0
98855,"1,689,971,271",0,"152,488,800",0,0.0,0,0,8.0,2,4,...,1,1,NaN,NaN,us_dollars,M,Y,NaN,"small parcel,",0
98872,"1,690,230,301",0,"216,309,466",0,0.0,0,0,9.0,2,1,...,1,2,NaN,NaN,us_dollars,NaN,NaN,NaN,"small parcel,",0
98878,"1,690,394,742",0,"99,401,347",0,0.0,0,0,10.0,1,1,...,1,1,NaN,NaN,us_dollars,M,Y,NaN,"small parcel,",0
98883,"1,690,513,282",0,"88,495,528",100,100.0,0,0,10.0,1,2,...,1,1,NaN,NaN,us_dollars,M,Z,NaN,"small parcel,",0
98941,"1,691,599,732",0,"89,297,820",0,0.0,0,0,10.0,5,1,...,1,1,NaN,NaN,us_dollars,M,Y,NaN,"small parcel,",0
98970,"1,692,079,012",0,"94,893,188",0,0.0,0,0,8.0,2,1,...,1,1,NaN,NaN,us_dollars,M,Y,NaN,"small parcel,",0
98973,"1,692,117,472",0,"82,421,452",100,100.0,0,0,9.0,6,1,...,1,1,NaN,NaN,us_dollars,M,Y,NaN,"small parcel,",0
99047,"1,693,842,102",0,"80,638,510",100,100.0,0,0,8.0,4,2,...,1,1,NaN,NaN,us_dollars,NaN,NaN,NaN,"small parcel,",0
99050,"1,693,989,092",0,"78,581,260",100,100.0,0,0,9.0,4,1,...,15,72,NaN,NaN,us_dollars,M,Y,NaN,"small parcel,",0
99114,"1,694,966,551",0,"81,850,761",100,0.0,0,0,14.0,1,1,...,1,1,NaN,NaN,us_dollars,NaN,Y,NaN,"small parcel,",0
99141,"1,695,373,992",0,"74,590,819",0,0.0,0,0,9.0,5,1,...,1,1,NaN,NaN,us_dollars,M,Z,NaN,"small parcel,",0
99157,"1,695,637,442",0,"112,835,969",0,0.0,0,0,10.0,1,4,...,1,1,NaN,NaN,us_dollars,M,Y,NaN,"small parcel,",0
99218,"1,696,443,601",0,"96,507,428",100,0.0,0,0,8.0,13,1,...,1,1,NaN,NaN,us_dollars,NaN,NaN,NaN,"small parcel,",0
99223,"1,614,466,031",0,"111,196,823",0,0.0,0,0,9.0,1,1,...,1,1,NaN,NaN,us_dollars,NaN,B,NaN,"small parcel,",0
99303,"2,140,798,182",0,"88,057,241",100,0.0,0,0,8.0,3,2,...,1,1,NaN,NaN,us_dollars,M,Y,"fedex ground,","small parcel,",0
99346,"2,235,909,822",0,"91,122,627",100,100.0,0,0,13.0,15,1,...,1,1,NaN,NaN,us_dollars,M,Y,NaN,"small parcel,",0
99365,"2,262,522,981",0,"112,146,424",0,0.0,0,0,4.0,2,2,...,1,4,NaN,NaN,us_dollars,NaN,NaN,"fedex ground,","small parcel,",0
99402,"2,316,355,361",0,"221,284,399",100,100.0,0,0,4.0,3,3,...,1,2,NaN,NaN,us_dollars,NaN,NaN,"fedex ground,","small parcel,",0
99449,"2,359,662,905",0,"14,345,656",0,0.0,0,0,8.0,5,2,...,1,1,NaN,NaN,us_dollars,NaN,Y,NaN,"small parcel,",0
99539,"2,398,023,945",0,"1,049,891",100,100.0,0,0,8.0,3,1,...,1,1,NaN,NaN,us_dollars,NaN,Y,NaN,"small parcel,",0
99585,"2,404,109,015",0,679,0,0.0,0,0,10.0,1,3,...,1,1,NaN,NaN,us_dollars,NaN,Y,NaN,"small parcel,",0
99643,"2,405,016,035",0,914,0,0.0,0,0,7.0,1,2,...,1,2,NaN,NaN,us_dollars,M,Y,"fedex ground,","small parcel,",0
99699,"2,421,215,113",0,"80,557,379",100,100.0,0,0,11.0,55,4,...,1,1,NaN,NaN,us_dollars,NaN,Y,NaN,"small parcel,",0
99749,"2,435,085,252",0,"119,000,938",0,0.0,0,0,7.0,15,5,...,1,1,NaN,NaN,us_dollars,NaN,NaN,"fedex ground,","small parcel,",0
99759,"2,437,041,472",0,"51,856,994",0,0.0,0,0,13.0,4,1,...,1,1,NaN,NaN,us_dollars,NaN,Y,NaN,"small parcel,",0
99778,"2,439,000,632",0,653,100,100.0,0,0,10.0,1,1,...,1,1,NaN,NaN,us_dollars,NaN,Z,"fedex ground,","small parcel,",0
99780,"2,439,032,842",0,331,0,0.0,0,0,14.0,1,1,...,3,7,NaN,NaN,us_dollars,M,Y,NaN,"small parcel,",0
99839,"2,439,642,702",0,"105,403,088",0,0.0,0,0,9.0,4,1,...,1,1,NaN,NaN,us_dollars,NaN,NaN,"inside home entrance drop off,","white glove,",0
99882,"2,450,769,391",0,"54,349,662",100,100.0,0,0,5.0,9,2,...,1,8,NaN,NaN,us_dollars,NaN,Y,"fedex ground,","small parcel,",0

In [34]:
df['ship_class'].unique()

array(['freight truck,', 'small parcel,', 'white glove,',
       'small parcel,white glove,', 'small parcel,freight truck,',
       'small parcel,freight truck,white glove,',
       'freight truck,white glove,'], dtype=object)

In [38]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 105 columns):
order_id                                        object
is_fraud                                        int64
age_of_account                                  object
percent_of_billing_name_in_email                int64
percent_of_shipping_names_in_email              float64
is_disposable_email                             int64
is_real_email                                   int64
email_username_length                           float64
total_orders                                    object
item_count                                      int64
order_total                                     object
is_ip_blacklisted                               int64
is_email_blacklisted                            int64
is_email_domain_blacklisted                     int64
product_blacklist_percent                       float64
billing_and_ip_distance                         object
billing_location_not_found                      int64
ip_location_not_found                           int64
billing_shipping_country_match_percent          float64
billing_shipping_state_match_percent            float64
billing_shipping_zip_match_percent              float64
billing_shipping_name_match_percent             int64
billing_ip_zip_match                            int64
billing_ip_country_match                        int64
shipping_ip_zip_match_percentage                float64
shipping_ip_country_match_percentage            float64
number_of_pdp_visits                            object
number_of_event_page_visits                     int64
number_of_superbrowse_page_visits               int64
number_of_category_page_visits                  int64
number_of_add_to_cart_events                    int64
number_of_remove_from_cart_events               int64
number_of_checkout_receipt_page_visits          int64
number_of_checkout_review_order_page_visits     int64
number_of_checkout_payment_page_visits          int64
number_of_address_pages_visits_and_actions      int64
number_of_basket_page_visits                    int64
number_of_view_cart_events                      int64
number_of_keyword_searches                      int64
number_of_clicks_performed                      object
number_of_successful_login_events               int64
number_of_failed_login_events                   int64
number_of_logout_events                         int64
session_duration                                object
browser_fingerprint_count                       int64
fraud_ratio                                     float64
number_of_pdp_visits_past_hour                  object
number_of_add_to_cart_events_past_hour          object
number_of_remove_from_cart_events_past_hour     float64
number_of_keyword_searches_past_hour            object
number_of_pdp_visits_past_day                   object
number_of_add_to_cart_events_past_day           object
number_of_remove_from_cart_events_past_day      object
number_of_keyword_searches_past_day             object
number_of_pdp_visits_past_week                  object
number_of_add_to_cart_events_past_week          object
number_of_remove_from_cart_events_past_week     object
number_of_keyword_searches_past_week            object
number_of_pdp_visits_past_month                 object
number_of_add_to_cart_events_past_month         object
number_of_remove_from_cart_events_past_month    object
number_of_keyword_searches_past_month           object
number_of_orders_in_session                     float64
number_of_orders_past_day                       float64
number_of_orders_past_week                      float64
number_of_orders_past_month                     float64
number_of_failed_auth                           int64
payment_method_id                               int64
is_gift_certificate_used                        int64
is_store_credit_used                            int64
gateway_id                                      int64
billing_postal_codes_count_past_hour            int64
billing_postal_codes_count_past_day             int64
billing_postal_codes_count_past_week            int64
billing_postal_codes_count_past_month           int64
billing_names_count_past_hour                   int64
shipping_names_count_past_hour                  int64
billing_names_count_past_day                    int64
shipping_names_count_past_day                   int64
billing_names_count_past_week                   int64
shipping_names_count_past_week                  int64
billing_names_count_past_month                  int64
shipping_names_count_past_month                 int64
billing_and_ip_distance.1                       object
avg_billing_and_shipping_distance               object
avg_ip_and_shipping_distance                    object
ip_location_not_found.1                         float64
ip_location_hidden                              float64
billing_location_not_found.1                    float64
billing_location_hidden                         float64
shipping_location_not_found_ratio               float64
shipping_location_hidden_ratio                  float64
customers_with_same_ip_past_hour                int64
customers_with_same_ip_past_day                 object
customers_with_same_ip_past_week                object
customers_with_same_ip_past_month               object
customers_with_same_ip_past_six_months          object
number_of_addresses_on_account                  float64
number_of_addresses_with_same_zip               float64
currency                                        object
cvv_code                                        object
avs_code                                        object
ship_speed                                      object
ship_class                                      object
sum_email                                       int64
dtypes: float64(22), int64(48), object(35)
memory usage: 80.1+ MB

In [42]:
df['age_of_account'].isnull().sum()

989

In [43]:
df['email_username_length'].isnull().sum()

4

### Converting the data types

In [161]:
df['age_of_account']= df['age_of_account'].str.replace(",","")
df['age_of_account'] = df['age_of_account'].astype(float)

In [162]:
df['order_total']  = df['order_total'].str.replace(",","")
df['order_total'] = df['order_total'].astype(float)

In [163]:
df['total_orders']  = df['total_orders'].str.replace(",","")
df['total_orders'] = df['total_orders'].astype(float)

In [123]:
df['total_orders'].isnull().sum()

90112

In [121]:
df['total_orders'].describe()

count    9888.000000
mean        4.189017
std        36.782773
min         1.000000
25%         1.000000
50%         2.000000
75%         4.000000
max      2652.000000
Name: total_orders, dtype: float64

In [124]:
df.query('total_orders == 2652')

,Unnamed: 0,Unnamed: 0.1,order_id,is_fraud,age_of_account,percent_of_billing_name_in_email,percent_of_shipping_names_in_email,is_disposable_email,is_real_email,email_username_length,...,customers_with_same_ip_past_week,customers_with_same_ip_past_month,customers_with_same_ip_past_six_months,number_of_addresses_on_account,number_of_addresses_with_same_zip,currency,cvv_code,avs_code,ship_speed,ship_class
73471,73471,68569,"2,455,798,491",0,132269449.0,0,0.0,0,1,10.0,...,1,1,1,NaN,NaN,us_dollars,NaN,Y,NaN,"small parcel,"

In [164]:
df['session_duration'] = df['session_duration'].str.replace(",","")
df['session_duration'] = df['session_duration'].astype(float)

In [165]:
df['number_of_pdp_visits_past_hour'] = df['number_of_pdp_visits_past_hour'].str.replace(",","").astype(float)

In [166]:
df['number_of_add_to_cart_events_past_hour'] = df['number_of_add_to_cart_events_past_hour'].str.replace(",","").astype(float)

In [167]:
df['number_of_clicks_performed'] = df['number_of_clicks_performed'].str.replace(",","").astype(float)

In [168]:
df['number_of_pdp_visits'] = df['number_of_pdp_visits'].str.replace(",","").astype(float)

In [169]:
type(df['number_of_keyword_searches_past_hour'][0])

str

In [170]:
df['number_of_keyword_searches_past_hour'] = df['number_of_keyword_searches_past_hour'].str.replace(",","").astype(float) 
df['number_of_pdp_visits_past_day']= df['number_of_pdp_visits_past_day'].str.replace(",","").astype(float)         
df['number_of_add_to_cart_events_past_day']=df['number_of_add_to_cart_events_past_day'].str.replace(",","").astype(float)       
df['number_of_remove_from_cart_events_past_day']=df['number_of_remove_from_cart_events_past_day'].str.replace(",","").astype(float)    
df['number_of_keyword_searches_past_day']=df['number_of_keyword_searches_past_day'].str.replace(",","").astype(float)         
df['number_of_pdp_visits_past_week']=df['number_of_pdp_visits_past_week'].str.replace(",","").astype(float)            
df['number_of_add_to_cart_events_past_week']=df['number_of_add_to_cart_events_past_week'].str.replace(",","").astype(float)   
df['number_of_remove_from_cart_events_past_week']=df['number_of_remove_from_cart_events_past_week'].str.replace(",","").astype(float) 
df['number_of_keyword_searches_past_week']=df['number_of_keyword_searches_past_week'].str.replace(",","").astype(float) 
df['number_of_pdp_visits_past_month']=df['number_of_pdp_visits_past_month'].str.replace(",","").astype(float) 
df['number_of_add_to_cart_events_past_month']=df['number_of_add_to_cart_events_past_month'].str.replace(",","").astype(float) 
df['number_of_remove_from_cart_events_past_month']= df['number_of_remove_from_cart_events_past_month'].str.replace(",","").astype(float) 
df['number_of_keyword_searches_past_month'] = df['number_of_keyword_searches_past_month'].str.replace(",","").astype(float)

In [172]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 106 columns):
Unnamed: 0                                      int64
Unnamed: 0.1                                    int64
order_id                                        object
is_fraud                                        int64
age_of_account                                  float64
percent_of_billing_name_in_email                int64
percent_of_shipping_names_in_email              float64
is_disposable_email                             int64
is_real_email                                   int64
email_username_length                           float64
total_orders                                    float64
item_count                                      int64
order_total                                     float64
is_ip_blacklisted                               int64
is_email_blacklisted                            int64
is_email_domain_blacklisted                     int64
product_blacklist_percent                       float64
billing_and_ip_distance                         object
billing_location_not_found                      int64
ip_location_not_found                           int64
billing_shipping_country_match_percent          float64
billing_shipping_state_match_percent            float64
billing_shipping_zip_match_percent              float64
billing_shipping_name_match_percent             int64
billing_ip_zip_match                            int64
billing_ip_country_match                        int64
shipping_ip_zip_match_percentage                float64
shipping_ip_country_match_percentage            float64
number_of_pdp_visits                            float64
number_of_event_page_visits                     int64
number_of_superbrowse_page_visits               int64
number_of_category_page_visits                  int64
number_of_add_to_cart_events                    int64
number_of_remove_from_cart_events               int64
number_of_checkout_receipt_page_visits          int64
number_of_checkout_review_order_page_visits     int64
number_of_checkout_payment_page_visits          int64
number_of_address_pages_visits_and_actions      int64
number_of_basket_page_visits                    int64
number_of_view_cart_events                      int64
number_of_keyword_searches                      int64
number_of_clicks_performed                      float64
number_of_successful_login_events               int64
number_of_failed_login_events                   int64
number_of_logout_events                         int64
session_duration                                float64
browser_fingerprint_count                       int64
fraud_ratio                                     float64
number_of_pdp_visits_past_hour                  float64
number_of_add_to_cart_events_past_hour          float64
number_of_remove_from_cart_events_past_hour     float64
number_of_keyword_searches_past_hour            float64
number_of_pdp_visits_past_day                   float64
number_of_add_to_cart_events_past_day           float64
number_of_remove_from_cart_events_past_day      float64
number_of_keyword_searches_past_day             float64
number_of_pdp_visits_past_week                  float64
number_of_add_to_cart_events_past_week          float64
number_of_remove_from_cart_events_past_week     float64
number_of_keyword_searches_past_week            float64
number_of_pdp_visits_past_month                 float64
number_of_add_to_cart_events_past_month         float64
number_of_remove_from_cart_events_past_month    float64
number_of_keyword_searches_past_month           float64
number_of_orders_in_session                     float64
number_of_orders_past_day                       float64
number_of_orders_past_week                      float64
number_of_orders_past_month                     float64
number_of_failed_auth                           int64
payment_method_id                               int64
is_gift_certificate_used                        int64
is_store_credit_used                            int64
gateway_id                                      int64
billing_postal_codes_count_past_hour            int64
billing_postal_codes_count_past_day             int64
billing_postal_codes_count_past_week            int64
billing_postal_codes_count_past_month           int64
billing_names_count_past_hour                   int64
shipping_names_count_past_hour                  int64
billing_names_count_past_day                    int64
shipping_names_count_past_day                   int64
billing_names_count_past_week                   int64
shipping_names_count_past_week                  int64
billing_names_count_past_month                  int64
shipping_names_count_past_month                 int64
billing_and_ip_distance.1                       object
avg_billing_and_shipping_distance               object
avg_ip_and_shipping_distance                    object
ip_location_not_found.1                         float64
ip_location_hidden                              float64
billing_location_not_found.1                    float64
billing_location_hidden                         float64
shipping_location_not_found_ratio               float64
shipping_location_hidden_ratio                  float64
customers_with_same_ip_past_hour                int64
customers_with_same_ip_past_day                 object
customers_with_same_ip_past_week                object
customers_with_same_ip_past_month               object
customers_with_same_ip_past_six_months          object
number_of_addresses_on_account                  float64
number_of_addresses_with_same_zip               float64
currency                                        object
cvv_code                                        object
avs_code                                        object
ship_speed                                      object
ship_class                                      object
dtypes: float64(43), int64(49), object(14)
memory usage: 80.9+ MB

In [181]:
df['billing_and_ip_distance'] = df['billing_and_ip_distance'].str.replace(",","").astype(float)

In [ ]:
df['billing_and_ip_distance.1'] = df['billing_and_ip_distance.1'].str.replace(",","").astype(float)
# df['avg_billing_and_shipping_distance'] = 
# df['avg_ip_and_shipping_distance']

In [175]:
columns_to_drop = df.columns[df.isnull().mean() > 0.80]

In [177]:
df = df.drop(columns = columns_to_drop)

In [178]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'order_id', 'is_fraud', 'age_of_account',
       'percent_of_billing_name_in_email',
       'percent_of_shipping_names_in_email', 'is_disposable_email',
       'is_real_email', 'email_username_length', 'item_count', 'order_total',
       'is_ip_blacklisted', 'is_email_blacklisted',
       'is_email_domain_blacklisted', 'product_blacklist_percent',
       'billing_and_ip_distance', 'billing_location_not_found',
       'ip_location_not_found', 'billing_shipping_country_match_percent',
       'billing_shipping_state_match_percent',
       'billing_shipping_zip_match_percent',
       'billing_shipping_name_match_percent', 'billing_ip_zip_match',
       'billing_ip_country_match', 'shipping_ip_zip_match_percentage',
       'shipping_ip_country_match_percentage', 'number_of_pdp_visits',
       'number_of_event_page_visits', 'number_of_superbrowse_page_visits',
       'number_of_category_page_visits', 'number_of_add_to_cart_events',
       'number_of_remove_from_cart_events',
       'number_of_checkout_receipt_page_visits',
       'number_of_checkout_review_order_page_visits',
       'number_of_checkout_payment_page_visits',
       'number_of_address_pages_visits_and_actions',
       'number_of_basket_page_visits', 'number_of_view_cart_events',
       'number_of_keyword_searches', 'number_of_clicks_performed',
       'number_of_successful_login_events', 'number_of_failed_login_events',
       'number_of_logout_events', 'session_duration',
       'browser_fingerprint_count', 'fraud_ratio',
       'number_of_pdp_visits_past_hour',
       'number_of_remove_from_cart_events_past_hour',
       'number_of_keyword_searches_past_hour', 'number_of_pdp_visits_past_day',
       'number_of_add_to_cart_events_past_day',
       'number_of_remove_from_cart_events_past_day',
       'number_of_keyword_searches_past_day', 'number_of_pdp_visits_past_week',
       'number_of_add_to_cart_events_past_week',
       'number_of_remove_from_cart_events_past_week',
       'number_of_keyword_searches_past_week',
       'number_of_pdp_visits_past_month',
       'number_of_add_to_cart_events_past_month',
       'number_of_remove_from_cart_events_past_month',
       'number_of_keyword_searches_past_month', 'number_of_orders_in_session',
       'number_of_orders_past_day', 'number_of_orders_past_week',
       'number_of_orders_past_month', 'number_of_failed_auth',
       'payment_method_id', 'is_gift_certificate_used', 'is_store_credit_used',
       'gateway_id', 'billing_postal_codes_count_past_hour',
       'billing_postal_codes_count_past_day',
       'billing_postal_codes_count_past_week',
       'billing_postal_codes_count_past_month',
       'billing_names_count_past_hour', 'shipping_names_count_past_hour',
       'billing_names_count_past_day', 'shipping_names_count_past_day',
       'billing_names_count_past_week', 'shipping_names_count_past_week',
       'billing_names_count_past_month', 'shipping_names_count_past_month',
       'customers_with_same_ip_past_hour', 'customers_with_same_ip_past_day',
       'customers_with_same_ip_past_week', 'customers_with_same_ip_past_month',
       'customers_with_same_ip_past_six_months', 'currency', 'cvv_code',
       'avs_code', 'ship_class'],
      dtype='object')

In [186]:
df['customers_with_same_ip_past_day'] = df['customers_with_same_ip_past_day'].str.replace(",","").astype(float)
df['customers_with_same_ip_past_week'] = df['customers_with_same_ip_past_week'].str.replace(",","").astype(float)
df['customers_with_same_ip_past_month'] = df['customers_with_same_ip_past_month'].str.replace(",","").astype(float)
df['customers_with_same_ip_past_six_months'] = df['customers_with_same_ip_past_six_months'].str.replace(",","").astype(float)

In [187]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 92 columns):
Unnamed: 0                                      100000 non-null int64
Unnamed: 0.1                                    100000 non-null int64
order_id                                        100000 non-null object
is_fraud                                        100000 non-null int64
age_of_account                                  99011 non-null float64
percent_of_billing_name_in_email                100000 non-null int64
percent_of_shipping_names_in_email              100000 non-null float64
is_disposable_email                             100000 non-null int64
is_real_email                                   100000 non-null int64
email_username_length                           99996 non-null float64
item_count                                      100000 non-null int64
order_total                                     100000 non-null float64
is_ip_blacklisted                               100000 non-null int64
is_email_blacklisted                            100000 non-null int64
is_email_domain_blacklisted                     100000 non-null int64
product_blacklist_percent                       100000 non-null float64
billing_and_ip_distance                         100000 non-null float64
billing_location_not_found                      100000 non-null int64
ip_location_not_found                           100000 non-null int64
billing_shipping_country_match_percent          100000 non-null float64
billing_shipping_state_match_percent            100000 non-null float64
billing_shipping_zip_match_percent              100000 non-null float64
billing_shipping_name_match_percent             100000 non-null int64
billing_ip_zip_match                            100000 non-null int64
billing_ip_country_match                        100000 non-null int64
shipping_ip_zip_match_percentage                100000 non-null float64
shipping_ip_country_match_percentage            100000 non-null float64
number_of_pdp_visits                            100000 non-null float64
number_of_event_page_visits                     100000 non-null int64
number_of_superbrowse_page_visits               100000 non-null int64
number_of_category_page_visits                  100000 non-null int64
number_of_add_to_cart_events                    100000 non-null int64
number_of_remove_from_cart_events               100000 non-null int64
number_of_checkout_receipt_page_visits          100000 non-null int64
number_of_checkout_review_order_page_visits     100000 non-null int64
number_of_checkout_payment_page_visits          100000 non-null int64
number_of_address_pages_visits_and_actions      100000 non-null int64
number_of_basket_page_visits                    100000 non-null int64
number_of_view_cart_events                      100000 non-null int64
number_of_keyword_searches                      100000 non-null int64
number_of_clicks_performed                      73728 non-null float64
number_of_successful_login_events               100000 non-null int64
number_of_failed_login_events                   100000 non-null int64
number_of_logout_events                         100000 non-null int64
session_duration                                100000 non-null float64
browser_fingerprint_count                       100000 non-null int64
fraud_ratio                                     100000 non-null float64
number_of_pdp_visits_past_hour                  97911 non-null float64
number_of_remove_from_cart_events_past_hour     97911 non-null float64
number_of_keyword_searches_past_hour            49547 non-null float64
number_of_pdp_visits_past_day                   98102 non-null float64
number_of_add_to_cart_events_past_day           33500 non-null float64
number_of_remove_from_cart_events_past_day      31826 non-null float64
number_of_keyword_searches_past_day             90041 non-null float64
number_of_pdp_visits_past_week                  98337 non-null float64
number_of_add_to_cart_events_past_week          82144 non-null float64
number_of_remove_from_cart_events_past_week     57858 non-null float64
number_of_keyword_searches_past_week            98337 non-null float64
number_of_pdp_visits_past_month                 98522 non-null float64
number_of_add_to_cart_events_past_month         82303 non-null float64
number_of_remove_from_cart_events_past_month    74211 non-null float64
number_of_keyword_searches_past_month           98522 non-null float64
number_of_orders_in_session                     99598 non-null float64
number_of_orders_past_day                       98108 non-null float64
number_of_orders_past_week                      98338 non-null float64
number_of_orders_past_month                     98522 non-null float64
number_of_failed_auth                           100000 non-null int64
payment_method_id                               100000 non-null int64
is_gift_certificate_used                        100000 non-null int64
is_store_credit_used                            100000 non-null int64
gateway_id                                      100000 non-null int64
billing_postal_codes_count_past_hour            100000 non-null int64
billing_postal_codes_count_past_day             100000 non-null int64
billing_postal_codes_count_past_week            100000 non-null int64
billing_postal_codes_count_past_month           100000 non-null int64
billing_names_count_past_hour                   100000 non-null int64
shipping_names_count_past_hour                  100000 non-null int64
billing_names_count_past_day                    100000 non-null int64
shipping_names_count_past_day                   100000 non-null int64
billing_names_count_past_week                   100000 non-null int64
shipping_names_count_past_week                  100000 non-null int64
billing_names_count_past_month                  100000 non-null int64
shipping_names_count_past_month                 100000 non-null int64
customers_with_same_ip_past_hour                100000 non-null int64
customers_with_same_ip_past_day                 100000 non-null float64
customers_with_same_ip_past_week                100000 non-null float64
customers_with_same_ip_past_month               100000 non-null float64
customers_with_same_ip_past_six_months          100000 non-null float64
currency                                        100000 non-null object
cvv_code                                        62537 non-null object
avs_code                                        75308 non-null object
ship_class                                      100000 non-null object
dtypes: float64(38), int64(49), object(5)
memory usage: 70.2+ MB

In [192]:
dummies = pd.get_dummies(df[['currency', 'cvv_code', 'avs_code', 'ship_class']])
dummies.head()

,currency_ca_dollars,currency_euros,currency_pounds,currency_us_dollars,cvv_code_M,cvv_code_N,cvv_code_P,cvv_code_S,cvv_code_U,avs_code_A,...,avs_code_X,avs_code_Y,avs_code_Z,"ship_class_freight truck,","ship_class_freight truck,white glove,","ship_class_small parcel,","ship_class_small parcel,freight truck,","ship_class_small parcel,freight truck,white glove,","ship_class_small parcel,white glove,","ship_class_white glove,"
0,0,0,0,1,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
1,0,0,0,1,1,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
2,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,1,1,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
df = pd.concat([df,dummies], axis=1)