In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('fraud_dataset.csv', index_col=False)

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (10,41,49,51,53,54,55,57,58,61,62,85,86,87) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [103]:
df = df.iloc[:,2:]

In [104]:
df.head()

,order_id,is_fraud,age_of_account,percent_of_billing_name_in_email,percent_of_shipping_names_in_email,is_disposable_email,is_real_email,email_username_length,total_orders,item_count,...,customers_with_same_ip_past_week,customers_with_same_ip_past_month,customers_with_same_ip_past_six_months,number_of_addresses_on_account,number_of_addresses_with_same_zip,currency,cvv_code,avs_code,ship_speed,ship_class
0,"1,385,928,871",1,"113,438,015",0,0.0,0,1,8.0,6,4,...,1,1,1,NaN,NaN,us_dollars,NaN,Y,NaN,"freight truck,"
1,"1,427,651,263",1,"70,225,782",0,0.0,0,1,10.0,3,1,...,1,9,56,NaN,NaN,us_dollars,M,Y,NaN,"small parcel,"
2,"1,433,103,753",1,"61,712,171",0,0.0,0,1,9.0,10,1,...,1,2,8,NaN,NaN,us_dollars,M,N,NaN,"small parcel,"
3,"1,634,792,851",1,"210,555,308",0,0.0,0,1,10.0,2,1,...,1,1,1,NaN,NaN,us_dollars,M,Y,"next day air,","small parcel,"
4,"1,693,089,701",1,"78,225,420",0,0.0,0,1,10.0,3,1,...,1,1,1,NaN,NaN,us_dollars,NaN,NaN,NaN,"white glove,"

In [105]:
df['order_id']  = df['order_id'].str.replace(",","").astype(float)
df['age_of_account'] = df['age_of_account'].str.replace(",","").astype(float)
df['order_total']  = df['order_total'].str.replace(",","").astype(float)
df['total_orders']  = df['total_orders'].str.replace(",","").astype(float)
df['session_duration'] = df['session_duration'].str.replace(",","").astype(float)
df['number_of_pdp_visits_past_hour'] = df['number_of_pdp_visits_past_hour'].str.replace(",","").astype(float)
df['number_of_add_to_cart_events_past_hour'] = df['number_of_add_to_cart_events_past_hour'].str.replace(",","").astype(float)
df['number_of_clicks_performed'] = df['number_of_clicks_performed'].str.replace(",","").astype(float) 
df['number_of_pdp_visits'] = df['number_of_pdp_visits'].str.replace(",","").astype(float) 
df['number_of_keyword_searches_past_hour'] = df['number_of_keyword_searches_past_hour'].str.replace(",","").astype(float) 
df['number_of_pdp_visits_past_day']= df['number_of_pdp_visits_past_day'].str.replace(",","").astype(float)         
df['number_of_add_to_cart_events_past_day']=df['number_of_add_to_cart_events_past_day'].str.replace(",","").astype(float)       
df['number_of_remove_from_cart_events_past_day']=df['number_of_remove_from_cart_events_past_day'].str.replace(",","").astype(float)    
df['number_of_keyword_searches_past_day']=df['number_of_keyword_searches_past_day'].str.replace(",","").astype(float)         
df['number_of_pdp_visits_past_week']=df['number_of_pdp_visits_past_week'].str.replace(",","").astype(float)            
df['number_of_add_to_cart_events_past_week']=df['number_of_add_to_cart_events_past_week'].str.replace(",","").astype(float)   
df['number_of_remove_from_cart_events_past_week']=df['number_of_remove_from_cart_events_past_week'].str.replace(",","").astype(float) 
df['number_of_keyword_searches_past_week']=df['number_of_keyword_searches_past_week'].str.replace(",","").astype(float) 
df['number_of_pdp_visits_past_month']=df['number_of_pdp_visits_past_month'].str.replace(",","").astype(float) 
df['number_of_add_to_cart_events_past_month']=df['number_of_add_to_cart_events_past_month'].str.replace(",","").astype(float) 
df['number_of_remove_from_cart_events_past_month']= df['number_of_remove_from_cart_events_past_month'].str.replace(",","").astype(float) 
df['number_of_keyword_searches_past_month'] = df['number_of_keyword_searches_past_month'].str.replace(",","").astype(float)   
df['billing_and_ip_distance'] = df['billing_and_ip_distance'].str.replace(",","").astype(float)
df['billing_and_ip_distance.1'] = df['billing_and_ip_distance.1'].str.replace(",","").astype(float)
df['customers_with_same_ip_past_day'] = df['customers_with_same_ip_past_day'].str.replace(",","").astype(float)
df['customers_with_same_ip_past_week'] = df['customers_with_same_ip_past_week'].str.replace(",","").astype(float)
df['customers_with_same_ip_past_month'] = df['customers_with_same_ip_past_month'].str.replace(",","").astype(float)
df['customers_with_same_ip_past_six_months'] = df['customers_with_same_ip_past_six_months'].str.replace(",","").astype(float)

In [106]:
columns_to_drop = df.columns[df.isnull().mean() > 0.80]
columns_to_drop

Index(['total_orders', 'number_of_add_to_cart_events_past_hour',
       'billing_and_ip_distance.1', 'avg_billing_and_shipping_distance',
       'avg_ip_and_shipping_distance', 'ip_location_not_found.1',
       'ip_location_hidden', 'billing_location_not_found.1',
       'billing_location_hidden', 'shipping_location_not_found_ratio',
       'shipping_location_hidden_ratio', 'number_of_addresses_on_account',
       'number_of_addresses_with_same_zip', 'ship_speed'],
      dtype='object')

In [107]:
df = df.drop(columns = columns_to_drop)

In [108]:
dummies = pd.get_dummies(df[['currency', 'cvv_code', 'avs_code']])
dummies.head()

,currency_ca_dollars,currency_euros,currency_pounds,currency_us_dollars,cvv_code_M,cvv_code_N,cvv_code_P,cvv_code_S,cvv_code_U,avs_code_A,...,avs_code_E,avs_code_I,avs_code_N,avs_code_P,avs_code_R,avs_code_S,avs_code_W,avs_code_X,avs_code_Y,avs_code_Z
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,1,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [109]:
df = pd.concat([df,dummies], axis=1)

In [110]:
dummies = pd.get_dummies(df['ship_class'])

In [111]:
N_rows = df.shape[0]
df_shipclass = pd.DataFrame(np.zeros((N_rows, 3)))
df_shipclass.columns = ['freight_truck', 'small_parcel', 'white_glove']
df_shipclass['freight_truck'] = dummies['freight truck,'] + dummies['freight truck,white glove,'] + dummies['small parcel,freight truck,white glove,']+ dummies['small parcel,freight truck,']
df_shipclass['small_parcel'] = dummies['small parcel,freight truck,white glove,'] +dummies['small parcel,white glove,'] + dummies['small parcel,freight truck,'] + dummies['small parcel,'] 
df_shipclass['white_glove'] = dummies['white glove,']+ dummies['small parcel,white glove,']+dummies['small parcel,freight truck,white glove,'] + dummies['freight truck,white glove,']

In [112]:
df = pd.concat([df,df_shipclass], axis=1)
df = df.drop(['currency','ship_class','order_id','cvv_code','avs_code'], axis=1)

In [113]:
df.iloc[:,:60].info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 60 columns):
is_fraud                                        100000 non-null int64
age_of_account                                  99011 non-null float64
percent_of_billing_name_in_email                100000 non-null int64
percent_of_shipping_names_in_email              100000 non-null float64
is_disposable_email                             100000 non-null int64
is_real_email                                   100000 non-null int64
email_username_length                           99996 non-null float64
item_count                                      100000 non-null int64
order_total                                     100000 non-null float64
is_ip_blacklisted                               100000 non-null int64
is_email_blacklisted                            100000 non-null int64
is_email_domain_blacklisted                     100000 non-null int64
product_blacklist_percent                       100000 non-null float64
billing_and_ip_distance                         100000 non-null float64
billing_location_not_found                      100000 non-null int64
ip_location_not_found                           100000 non-null int64
billing_shipping_country_match_percent          100000 non-null float64
billing_shipping_state_match_percent            100000 non-null float64
billing_shipping_zip_match_percent              100000 non-null float64
billing_shipping_name_match_percent             100000 non-null int64
billing_ip_zip_match                            100000 non-null int64
billing_ip_country_match                        100000 non-null int64
shipping_ip_zip_match_percentage                100000 non-null float64
shipping_ip_country_match_percentage            100000 non-null float64
number_of_pdp_visits                            100000 non-null float64
number_of_event_page_visits                     100000 non-null int64
number_of_superbrowse_page_visits               100000 non-null int64
number_of_category_page_visits                  100000 non-null int64
number_of_add_to_cart_events                    100000 non-null int64
number_of_remove_from_cart_events               100000 non-null int64
number_of_checkout_receipt_page_visits          100000 non-null int64
number_of_checkout_review_order_page_visits     100000 non-null int64
number_of_checkout_payment_page_visits          100000 non-null int64
number_of_address_pages_visits_and_actions      100000 non-null int64
number_of_basket_page_visits                    100000 non-null int64
number_of_view_cart_events                      100000 non-null int64
number_of_keyword_searches                      100000 non-null int64
number_of_clicks_performed                      73728 non-null float64
number_of_successful_login_events               100000 non-null int64
number_of_failed_login_events                   100000 non-null int64
number_of_logout_events                         100000 non-null int64
session_duration                                100000 non-null float64
browser_fingerprint_count                       100000 non-null int64
fraud_ratio                                     100000 non-null float64
number_of_pdp_visits_past_hour                  97911 non-null float64
number_of_remove_from_cart_events_past_hour     97911 non-null float64
number_of_keyword_searches_past_hour            49547 non-null float64
number_of_pdp_visits_past_day                   98102 non-null float64
number_of_add_to_cart_events_past_day           33500 non-null float64
number_of_remove_from_cart_events_past_day      31826 non-null float64
number_of_keyword_searches_past_day             90041 non-null float64
number_of_pdp_visits_past_week                  98337 non-null float64
number_of_add_to_cart_events_past_week          82144 non-null float64
number_of_remove_from_cart_events_past_week     57858 non-null float64
number_of_keyword_searches_past_week            98337 non-null float64
number_of_pdp_visits_past_month                 98522 non-null float64
number_of_add_to_cart_events_past_month         82303 non-null float64
number_of_remove_from_cart_events_past_month    74211 non-null float64
number_of_keyword_searches_past_month           98522 non-null float64
number_of_orders_in_session                     99598 non-null float64
dtypes: float64(31), int64(29)
memory usage: 45.8 MB

In [114]:
for column in df.columns:
    df.loc[np.isnan(df[column]),column]=df.loc[~np.isnan(df[column]),column].median()

In [115]:
df.to_csv('Clean.csv')

In [116]:
df.head()

,is_fraud,age_of_account,percent_of_billing_name_in_email,percent_of_shipping_names_in_email,is_disposable_email,is_real_email,email_username_length,item_count,order_total,is_ip_blacklisted,...,avs_code_P,avs_code_R,avs_code_S,avs_code_W,avs_code_X,avs_code_Y,avs_code_Z,freight_truck,small_parcel,white_glove
0,1.0,113438015.0,0.0,0.0,0.0,1.0,8.0,4.0,1789.85,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,1.0,70225782.0,0.0,0.0,0.0,1.0,10.0,1.0,150.00,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,1.0,61712171.0,0.0,0.0,0.0,1.0,9.0,1.0,878.49,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1.0,210555308.0,0.0,0.0,0.0,1.0,10.0,1.0,277.25,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,1.0,78225420.0,0.0,0.0,0.0,1.0,10.0,1.0,896.62,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0